* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.sidebar {
  border-right: 1px solid #B2B2B2;
  height: 99.9vh;
  padding: 5px;
}

.main_content {
  padding: 0 30px;
  margin-top: 10px;
  width: 100%;
  margin-top: 70px;
}

.links {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-left: 20px;
  margin-top: 120px;
  justify-content: space-around;
  color: black;
}

.links a {
  text-decoration: none;
  font-weight: 600;
}

.links a:focus {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.header {
  height: 70px;
  background-color: cornflowerblue;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.active {
  color: black;
  font-weight: 700 !important;
}

.w-40px {
  width: 40px;
}

.h-80 {
  height: 80vh
}