* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.sidebar {
  border-right: 1px solid #B2B2B2;
  height: 100vh;
  padding: 5px;
}

.main_content {
  padding: 5px;
  padding-left: 30px;
  margin-top: 10px;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-left: 20px;
  margin-top: 120px;
  justify-content: space-around;
  color: black;
}

.links a {
  text-decoration: none;
  font-weight: 600;
}

.links a:focus {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.active {
  color: black;
  font-weight: 700 !important;
}